body {
    --app-padding-x: 16px;
    --app-padding-y: 8px;
}

body > header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--app-padding-x) var(--app-padding-y);
}

body > main {
    width: 100%;

    padding: var(--app-padding-x) var(--app-padding-y);
}

body > footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--app-padding-x) var(--app-padding-y);
}