<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ReservationSys-LaMaisonRestaurant.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div>
                <h2>@ViewData["Name"]</h2>
            </div>
            <button class="mobile-navigation-button" onclick="onMobileMenuClick()" onblur="onMobileMenuBlur()">
                <div></div>
                <div></div>
                <div></div>
            </button>
            <nav class="main-navigation mobile-main-navigation">
                <a asp-page="./Index">Make a Reservation</a>
                <a asp-page="./Admin">Admin panel</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="content-wrapper">
            &copy; 2026 - @ViewData["Name"] Restaurant - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>