<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReservationSys_LaMaisonRestaurant.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <h1>LaMaison</h1>
        </div>
        <nav>
            <a asp-page="./Index">Reservations</a>
            <a asp-page="./Admin">Admin panel</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2026 - LaMaison Restaurant - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>