table {
    --n-columns: 7;
    --column-gap: 16px;
    --heading-row-gap: 16px;
    --row-gap: 16px;
    --heading-row-padding: 4px;

    display: flex;
    flex-direction: column;
}
thead, tbody {
    display: inherit;
    flex-direction: column;
}
thead {
    margin-bottom: var(--heading-row-gap);
    padding-bottom: var(--heading-row-padding);
    border-bottom: 1px solid black;
}
tbody {
    gap: var(--row-gap);
}


tr {
    display: flex;
    gap: var(--column-gap);
}
thead tr {
}
tr:not(thead tr) {
    --border-color: black;
    border-bottom: 2px dotted var(--border-color);
}

th {
    text-align: left;
    font-size: 1.1rem;
}
td {
    font-weight: 500;
}

.page ::deep form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    justify-items: center;
}
input[type=submit]{
    grid-column: span 3;
    width: 100%;
}
.filter-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}
.page ::deep select {
    flex-grow: 1;
}

.details-button, .details-button * {
    display: none;
}

tr {
    padding: 0px 8px;
}
tr:not(thead tr) {
    padding: 8px 8px 0px 8px;
    cursor: pointer;
}
tr:hover:not(thead tr) {
    background-color: aliceblue;
}

.full {
    color: brown;
}

.private-dining {
    border-left: 2px solid var(--private-dining-color);
}

.extra-info {
    display: flex;
    justify-content: space-between;
}

.Cancelled {
    border-bottom: 2px dotted var(--cancelled-status-color);
}

.Pending {
    border-bottom: 2px dotted var(--pending-status-color);
}

.Completed {
    border-bottom: 2px dotted var(--completed-status-color);
}

.Confirmed {
    border-bottom: 2px dotted var(--confirmed-status-color);
}

.legend-table {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 4px;

    background-color: var(--background-color);
}
.invisible {
    visibility: hidden;
}