@page
@model AdminModel

@{
    ViewData["Title"] = "Index";
    ViewData["Name"] = Model.RestaurantInfo.Name;
}
<div class="page">
    <form>
        <div class="filter-group">
            <h4>Sort date by</h4>
            <select type="date" asp-for="SortDateBy">
                <option value="Upcoming">Upcoming</option>
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>
        </div>
        <div class="filter-group">
            <h4>Filter date</h4>
            <input type="date" asp-for="FilterDate" />
        </div>
        <div class="filter-group">
            <h4>Filter status</h4>
            <select type="date" asp-for="FilterStatus" >
                <option value="">All</option>
                <option value="Pending">Pending</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <input type="submit" value="Apply"/>
    </form>
    @if (Model.Id != null)
    {
        @await Component.InvokeAsync("ReservationDetails",
                         new
                         {
                             id = Model.Id
                         }
                         );
    }
    else
    {
        <div class="extra-info">
            <h4>Expected number of guests @(Model.FilterDate is null ? "today" : "on " + Model.FilterDate?.ToString("dd-MM-yyyy")): @Model.GuestNumber</h4>
            <button onclick="onLegendClick(event)" onblur="onLegendBlur(event)" class="legend-button">Legend</button>
        </div>
        @await Component.InvokeAsync("ReservationList",
                         new
                         {
                             filterDate = Model.FilterDate,
                             filterStatus = Model.FilterStatus,
                             sortDateBy = Model.SortDateBy
                         }
                         );
    }
    <div class="legend-table invisible">
        <div class="full-timeslot">Full timeslot</div>
        <div class="private-dining">Private dining</div>
        <div class="Cancelled">Cancelled</div>
        <div class="Pending">Pending</div>
        <div class="Completed">Completed</div>
        <div class="Confirmed">Confirmed</div>
    </div>
</div>