@page
@model IndexModel

@{
    ViewData["Title"] = "Create";
}
<div class = "page">
    <h1>Create a Reservation</h1>
    <form method="post" asp-page="Index" class="create-form">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-field create-form-field">
            <label asp-for="Reservation.FullName" class="form-label"></label>
            <input asp-for="Reservation.FullName" class="form-data" aria-required="true" />
            <span asp-validation-for="Reservation.FullName"></span>
        </div>
        <div class="form-field create-form-field">
            <label asp-for="Reservation.Email" class="form-label"></label>
            <input asp-for="Reservation.Email" class="form-data" aria-required="true" />
            <span asp-validation-for="Reservation.Email"></span>
        </div>
        <div class="form-field create-form-field">
            <label asp-for="Reservation.PhoneNumber" class="form-label"></label>
            <input asp-for="Reservation.PhoneNumber" class="form-data" aria-required="true" />
            <span asp-validation-for="Reservation.PhoneNumber"></span>
        </div>
        <div class="form-field create-form-field">
            <label asp-for="Reservation.Date" class="form-label"></label>
            <input asp-for="Reservation.Date" class="form-data"/>
            <span asp-validation-for="Reservation.Date" ></span>
        </div>
        <div class="form-field create-form-field">
            <label asp-for="Reservation.TimeSlot" class="form-label"></label>
            <input asp-for="Reservation.TimeSlot" class="form-data"/>
            <span asp-validation-for="Reservation.TimeSlot"></span>
        </div>
        <div class="form-field create-form-field">
            <label asp-for="Reservation.PartySize" class="form-label"></label>
            <input asp-for="Reservation.PartySize" class="form-data"/>
            <span asp-validation-for="Reservation.PartySize"></span>
        </div>
        <div class="form-field create-form-field">
            <label asp-for="Reservation.SpecialRequest" class="form-label"></label>
            <input asp-for="Reservation.SpecialRequest" class="form-data"/>
            <span asp-validation-for="Reservation.SpecialRequest"></span>
        </div>
        <div class="form-field create-form-field" style="display: none;">
            <input asp-for="Reservation.ReferenceCode" class="form-data" value="defaultValue" />
        </div>
        <div class="form-field create-form-field" style="display: none;">
            <input asp-for="Reservation.Status" class="form-data" value="Pending"/>
        </div>
        <div class="form-field create-form-field">
            <input type="submit" value="Create"/>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
